/* This file is for your main application CSS */
@import "./phoenix.css";

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 48px;
  margin: 10px;
}

button {
  text-transform: capitalize;
  width: 144px;
  height: 48px;
  border-radius: 50px;
  margin: 12px;
  background-color: transparent;
  box-shadow: 5px 5px 10px black;
}

button:hover {
  cursor: pointer;
  width: 144px;
  height: 48px;
  border-radius: 50px;
  margin: 12px;
  background-color: black;
  color: white;
  box-shadow: 5px 5px 15px black;
}
